ul{
    list-style-type: none; 
}
.list_img{
  margin-top: 20px;

}
.list_img img{

  width: 200px;
  height: 150px;
 
}
.editor {
    position:absolute;
    width:60%;
    min-height: 380px;
    line-height: 1.3;
}

.output{
    width:60%;
    min-height: 200px;
    line-height: 1.3;
}

.container{
  margin-left: -55px;
  margin-top: 51px;
  position: fixed;
}

.separator{
  border-left: 20px solid #ff0000;
}

.images{
  margin-top:-560px;
  float: right;  
  background-color: #272822;
  height: 673px;
  width:50%;
}


.output_images_container{
   position: relative;
   width: 100%;
   padding-top: 66.66%; /* 3:2 Aspect Ratio */
  /*position:absolute;
  right: 200px;
  bottom: 100px;*/
}

.navbar-inverse{
  position: 
}


body {
      position: relative;
}
ul.nav-pills {
    top: 20px;
    position: fixed;
}
.img_container{
  width: 40%;
  float: right;
  margin-top: 50px;
}
div.col-sm-9 div {
    height: 250px;
    font-size: 28px;
}

